.background {
	 position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("zigzagblackwallpaper.jpg");
  background-size: cover;
  background-position: center;
  }

  .p {
  	color: white;
  	position: absolute;
  	background-color: black;
  }